/* == BASE == */

:root {
    --colorYellow: #66560f;
    --colorLigthYellow: #edd77e;
    --colorWhite: #e2e3e7;
    --colorGreen: #1fad7e;
    --colorBlack: #282a2e;
    --spaceMono: 'Space Mono', monospace;
}

body{
    margin: 0;
    font-family: "Graphik Regular", sans-serif;
	font-weight: 300;
	color: var(--colorWhite);
    background-color: var(--colorBlack);
}

h1,h2,h3,.h1,.h2,.h3,p{
	font-weight: 300;
}

.h1{
    font-size: 55px;
    margin-top: 0;
    color: var(--colorWhite);
}

.h2{
    color: var(--colorGreen);
	font-size: 35px;
	margin: 20px 0;
}

.h3{
    color: var(--colorGreen);
    font-size: 26px;
	margin: 16px 0;
}

.code{
    font-family: var(--spaceMono);
}

.purple{
    color: #c678dd;
}

.light-blue{
    color: #cecfff;
}

.btn{
    border: 0;
    font: inherit;
    color: white;
    padding: 10px 20px;
    background-color: var(--colorGreen);
    border-radius: 20px;
    cursor: pointer;
    width: content-box;
}

.btn:active{
    box-shadow: 5px 5px 5px #222 inset;
}

strong, .strong{
	font-weight: 400;
}

em, .em{
	font-weight: 300;
	font-style: italic;
}

.content-text ul{
	list-style-type: disc;
	padding-left: 50px;
}

.col{
	margin: 15px;
	box-sizing: border-box;
}

.container{
    max-width: 1170px;
    padding: 30px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
}

.col{
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.block{
    margin-top: 70px;
}

.bottom-line{
    border-bottom: var(--colorYellow) solid 2px;
}

.field-image{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* == / BASE == */

/* == RESET == */
img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ul,ol{
	list-style: none;
	padding: 0;
}

strong{
	font-weight: normal;
}

em{
	font-style: normal;
}

a{
    color: var(--colorWhite);
    text-decoration: none;
}
/* == / RESET == */


/* == HEADER == */

.header{
    background-color: var(--colorYellow);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
@media screen and (max-width: 800px){
    .header{
        display: none;
    }
}
.portfolio a{
    display: flex;
    align-items: center;
}
.header span {
    font-family: var(--spaceMono);
    color: var(--colorLigthYellow);
    font-weight: 600;
}
.top-head{
    padding: 0;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    list-style: none;
    align-items: center;
    display: flex;
}
.header .container{
    padding: 0;
}

.nav-menu a{
    line-height: 50px;
    margin: 0 10px 20px;
    transition: color 0.4s;
    height: 50px;

}

.menu__link{
    color: var(--colorWhite);
}
.menu__link-active{
    color: var(--colorLigthYellow);
}

/* == / HEADER == */


/* == CALCULATE == */

.margin-top{
    margin-top: 80px;
}

.first-left{
    margin: 0;
    width: 50%;
}
.first-right{
    position: relative;
    margin: 0;
    width: 50%;
}
.first-blocks__image{
    max-width: calc(100% - 40px);
    margin-right: 40px;
}

/* == / CALCULATE == */



/* == FUNCTIONAL == */

.functional-item{
    margin: 0;
    width: 50%;
    box-sizing: border-box;
}



.functional-image{
    width: 100%;
}
/* == / FUNCTIONAL == */


/* == ANIMATION == */

.shpora{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.faq-item{
    display: block;
    width: 100%;
}

.ask{
    color: var(--colorGreen);
	font-size: 30px;
    margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.answ{
    padding: 20px;
	background: var(--colorYellow);
    color: var(--colorLigthYellow);
	overflow: hidden;
    border-radius: 20px;
    line-height: 25px;
	display: none;
}

.open{
	display: block !important;
}

.animation{
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
    margin-bottom: 70px;
}
.animation:first-child{
    margin-left: 0;
}
.animation:last-child{
    margin-right: 0;
}

/* == / ANIMATION == */



/* == SLIDER == */
.slider{
    margin: 0;
    width: calc(100% / 2 );
}
/* == / SLIDER == */



/* == RESPONSIVE DESIGN == */


.advItem{
	width: calc(100% / 2 - 30px);
	display: flex;
	margin-top: 35px;
}

.advItem .title{
	color: var(--colorGreen);
	margin-top: 0;
}

.advRange{
	width: 131px;
	height: 131px;
	background-color: var(--colorGreen);
	border-radius: 50%;
	text-align: center;
	line-height: 131px;
	margin-right: 20px;
}

.advTexts{
	width: calc(100% - 151px);
}

.advRange img{
	vertical-align: middle;
}

@media screen and (max-width: 800px){
	.advItem{
		width: calc(100% / 1 - 30px);
	}
}

/* == / RESPONSIVE DESIGN == */



/* == OTHER PROJECT == */

.sectionProj{
	text-align: center;
	margin: 0;
}

.proj{
    margin-top: 30px;
}

.projItem{
	width: calc(100% / 3 - 30px);
}

.projItem .h3{
	color: var(--colorGreen);
}

.text-link{
    box-sizing: border-box;
}
.text-link:hover{
    border-bottom: var(--colorYellow) 1px solid;
}

@media screen and (max-width: 650px){
	.projItem{
		width: calc(100% - 30px);
	}
    .projItem img{
        max-width: 70%;
    }
}
/* == / OTHER PROJECT == */



/* == FOOTER == */
.arrowUpTpTop {
    position: fixed;
    bottom: 40px;
    right: 60px;
    height: 60px;
    width: 40px;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s
}
.visible {
    opacity: 1;
    visibility: visible;
}
.bottom{
    width: 100%;
    text-align: center;
}
.acolyte{
    border-radius: 100%;
    text-align: center;
    width: 150px;
    height: 150px;
    border: var(--colorGreen) 2px solid;
    box-shadow: 5px 5px 10px var(--colorBlack);
}
/* == / FOOTER == */