/* == BASE == */

:root {
    --colorYellow: #66560f;
    --colorLigthYellow: #edd77e;
    --colorWhite: #e2e3e7;
    --colorGreen: #1fad7e;
    --colorBlack: #282a2e;
    --spaceMono: 'Space Mono', monospace;
}

body{
    margin: 0;
    font-family: "Graphik Regular", sans-serif;
	font-weight: 300;
	color: var(--colorWhite);
    background-color: var(--colorBlack);
}

.p{
    line-height: 1.5em;
}

.h1{
    font-size: 55px;
    margin-top: 0;
    color: var(--colorWhite);
}

.h2{
    color: var(--colorGreen);
	font-size: 35px;
	margin: 20px 0;
}

.h3{
    color: var(--colorGreen);
    font-size: 26px;
	margin: 16px 0;
}

.code{
    font-family: var(--spaceMono);
}

.purple{
    color: #c678dd;
}

.light-blue{
    color: #cecfff;
}

.blue{
    color: #569cd6;
}

.green{
    color: #4ec9a2;
}
.yellow{
    color: #dcdcaa;
}

.btn{
    border: 0;
    font: inherit;
    color: var(--colorWhite);
    padding: 10px 20px;
    background-color: var(--colorGreen);
    border-radius: 20px;
    cursor: pointer;
    width: content-box;
}

.btn:disabled{
    border: inherit 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;

}

.btn:disabled:active{
    box-shadow: none;
}

.btn:active{
    box-shadow: 5px 5px 5px #222 inset;
}

strong, .strong{
	font-weight: 400;
}

em, .em{
	font-weight: 300;
	font-style: italic;
}

.content-text ul{
	list-style-type: disc;
	padding-left: 50px;
}

.col{
	margin: 15px;
	box-sizing: border-box;
}

.container{
    max-width: 1170px;
    padding: 30px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
}

.col{
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

.block{
    margin-top: 70px;
}
@media (max-width: 800px){
    .block {
        margin-top: 30px;
    }
}

.bottom-line{
    border-bottom: var(--colorYellow) solid 2px;
}

.field-image{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.open{
	display: flex !important;
}

.text-link:hover{
    text-decoration: underline;
}

.input{
    padding:10px;
    border-radius: 20px;
    border:0;
    box-shadow: 0 0 15px 4px rgba(15,31,102, 0.8);
}
/* == / BASE == */


/* == RESET == */
img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

ul,ol{
	list-style: none;
	padding: 0;
}

strong{
	font-weight: normal;
}

em{
	font-style: normal;
}

a{
    color: var(--colorWhite);
    text-decoration: none;
}
/* == / RESET == */


/* == HEADER == */

.header{
    background-color: var(--colorYellow); 
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;

}


.portfolio a{
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.header span {
    font-family: var(--spaceMono);
    color: var(--colorLigthYellow);
    font-weight: 600;
}

.top-head{
    padding: 0;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    list-style: none;
    align-items: center;
    display: flex;
    margin-right: 20px;
}



.btn-burger {
    display: none;
    margin-right: 40px;
    background-color: var(--colorBlack);
}


.btn-burger__line {
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--colorLigthYellow);
    margin-bottom: 2px;
    margin-top: 4px;

}

@media (max-width: 1100px){
    .header {
        background-color: transparent;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(46, 39, 7, 0.6);
    }

    .nav-menu.open{
        display: flex;
    }

    .nav-menu .col{
        margin: 5px;
    }

    .btn-burger{
        display: flex;
        flex-direction: column;
    }

    .adaptive-header{
        z-index: 20;
        background-color: var(--colorYellow); 
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.header .container{
    padding: 0;
}

.nav-menu a{
    line-height: 50px;
    margin: 0 10px 20px;
    transition: color 0.4s;
    height: 50px;

}

.menu__link{
    color: var(--colorWhite);
}

.menu__link-active{
    color: var(--colorLigthYellow);
}

/* == / HEADER == */


/* == CALCULATE == */

.calc-margin-top{
    margin-top: 80px;
}

.calculate-left{
    margin: 0;
    width: 50%;
}

.calculate-right{
    position: relative;
    margin: 0;
    width: 50%;
}

.calculate-image{
    max-width: calc(100% - 40px);
    margin-right: 40px;
}

.math .input {
    max-width: max-content;
}

.math .op {
    max-width: max-content;
}

.math-item{
    padding: 10px;
    margin: 5px;
}

.math .p {
    font-weight: 600;
    color: var(--colorGreen);
}

.math .result {
    color: var(--colorWhite);
}

@media (max-width:1120px) {
    .math{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:750px) {
    .calc-margin-top{
        margin-top: 40px;
    }

    .calculate-image{
        max-width: 100%;
        margin: 0;
    }

    .calculate-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .calculate-right{
        width: 100%;
    }
}
/* == / CALCULATE == */


/* == FUNCTIONAL == */

.functional-item{
    margin: 0;
    width: 50%;
    box-sizing: border-box;
}

@media (max-width:750px) {

    .calculate-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .functional-item{
        width: 100%;
    }
}

.functional-image{
    width: 100%;
}
/* == / FUNCTIONAL == */


/* == ANIMATION == */

.shpora{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.faq-item{
    display: block;
    width: 100%;
}

.ask{
    color: var(--colorGreen);
	font-size: 30px;
    margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
    max-width: max-content;
}

.ask:hover{
    text-decoration: underline;
}

.answ{
    padding: 20px;
	background: var(--colorYellow);
    color: var(--colorLigthYellow);
	overflow: hidden;
    border-radius: 20px;
    line-height: 25px;
	display: none;
}

.animation{
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
    margin-bottom: 70px;
}

.animation:first-child{
    margin-left: 0;
}

.animation:last-child{
    margin-right: 0;
}

/* == / ANIMATION == */


/* == SLIDER == */

.slider{
    width: 100%;
    margin-left: 0;
}

.slider-item{
    margin: 0;
    width: calc(100% / 2 - 40px);
}

.slider-item:first-child{
    margin-right: 40px;
    z-index: 1;
}

.slider-item:last-child{
    overflow: hidden;
    z-index: 2;
}

.slider-image{
    max-width: 100%;
    display: none;
    z-index: 1;
}

.slider-btns{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.next-slide{
    margin-right: 40px;
    margin-left: 10px;

}


@media (max-width:1000px) {
    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .slider-item{
        width: 100%;

        text-align: center;
    }

    .slider-image{
        width: 100%;

        margin: 10px 0;
    }

    .slider-btns{
        width: 100%;
        margin-top: 0;
    }

    .slider-item:first-child{
        margin-right: 0;
    }

    .next-slide{
        margin-right: 0;
    }
}

/* == / SLIDER == */


/* == TIMER == */

.timer-item{
	width: calc(100% / 2 - 30px);
	display: flex;
	margin-top: 35px;
}

.timer-item .title{
	color: var(--colorGreen);
	margin-top: 0;
}

.timer-circle{
	width: 131px;
	height: 131px;
	background-color: var(--colorGreen);
	border-radius: 50%;
	text-align: center;
	line-height: 131px;
	margin-right: 20px;
}

.timer-text{
	width: calc(100% - 151px);
}

.timer-image{
    vertical-align: middle;
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.timer-btns{
    display: flex;
}

.timer-err{
    outline: 1px solid red;
}

.section-timer .btn{
    margin: 10px;
}

@media screen and (max-width: 800px){
	.timer-item{
		width: calc(100% / 1 - 30px);
	}
}

/* == / TIMER == */


/* == OTHER PROJECT == */

.sectionProj{
	text-align: center;
	margin: 0;
}

.proj{
    margin-top: 30px;
}

.projItem{
	width: calc(100% / 3 - 30px);
}

.projItem .h3{
	color: var(--colorGreen);
}



@media screen and (max-width: 650px){
	.projItem{
		width: calc(100% - 30px);
	}
    .projItem img{
        max-width: 80%;
    }
}
/* == / OTHER PROJECT == */


/* == FOOTER == */
.arrowUpTpTop {
    position: fixed;
    bottom: 40px;
    right: 60px;
    height: 60px;
    width: 40px;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s
}

@media (max-width:1440px) {
    .arrowUpTpTop {
        display: none;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}

.bottom{
    width: 100%;
    text-align: center;
}

.acolyte-img{
    border-radius: 100%;
    text-align: center;
    width: 150px;
    height: 150px;
    border: var(--colorGreen) 2px solid;
    box-shadow: 5px 5px 10px var(--colorBlack);
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acolyte{
    display: flex;
    justify-content: center;
    align-items: center;
}


.acolyte::before, .acolyte::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(100px);
}

.acolyte::before{
    border-right: 16px solid var(--colorLigthYellow);
    transform: translateX(-30px);
}

.acolyte::after{
    border-left: 16px solid var(--colorLigthYellow);
    transform: translateX(30px) ;
}

.acolyte:hover::before{
    transform: rotate(180deg);
    opacity: 1;
}

.acolyte:hover::after{
    transform: rotate(-180deg);
    opacity: 1;
}

/* == / FOOTER == */